In [198]:
from __future__ import annotations # To prevent Subscript for class "list" will generate runtime exception; enclose type annotation in quotes
import seaborn as sns
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
import scipy
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from Kmeans import *
from decimal import Decimal
from SVD import * 
%matplotlib inline
# pd.options.display.max_rows = 4000
# pd.options.display.max_columns = 4000

In [199]:
df = pd.read_csv('preprocessed.csv',index_col=0)
Genres=list(pd.read_csv('genre_order.csv',index_col=0)['0'])
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Action,1980s,Animation,Comedy,Thriller,Mystery,1910s,Children's,Film-Noir,Drama
UserID,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,0,0,0,1,0,0,0,0,...,0.771429,0.771429,0.746032,0.755102,0.619048,0.500000,0.452783,0.785714,0.000000,0.836735
2,1,1.000000,0,0,0,0,0,0,1,0,...,0.250000,0.452381,0.343889,0.280000,0.241935,0.166667,0.268293,0.216667,0.500000,0.449367
3,1,0.446429,0,0,0,0,1,0,0,0,...,0.644928,0.641667,0.666667,0.550000,0.566667,0.166667,0.166667,0.666667,0.641911,0.666667
4,1,0.803571,0,1,0,0,0,0,0,0,...,0.494737,0.057143,0.182136,0.232189,0.100000,0.311245,0.446409,0.400000,0.432221,0.500000
5,1,0.446429,0,0,0,0,1,0,0,0,...,0.140645,0.074286,0.640000,0.427857,0.224615,0.325000,0.280000,0.580000,0.640000,0.314615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,0,0,1,0,0,0,0,0,...,0.238095,0.372317,0.585434,0.315453,0.292517,0.394958,1.000000,0.407407,0.641457,0.430620
6037,0,0.803571,0,0,0,0,0,0,1,0,...,0.514286,0.553846,0.800000,0.461017,0.564706,0.553846,0.800000,0.533333,0.355556,0.702041
6038,0,1.000000,1,0,0,0,0,0,0,0,...,0.200000,0.680000,0.466667,0.533333,0.473406,0.518611,0.600000,0.200000,0.500000,0.555556
6039,0,0.803571,1,0,0,0,0,0,0,0,...,0.500000,0.285714,0.115385,0.223077,0.642857,0.676471,0.275862,0.029412,1.000000,0.500000
6040,1,0.446429,1,0,0,0,0,0,0,0,...,0.159928,0.126270,0.169811,0.283759,0.554533,0.773585,0.169811,0.584906,0.584906,0.510862

In [200]:
num_cluster=32
to_remove=9
threshold=0

In [201]:
from SVD import * 
u,s,sigma,V_trans = ReducedSVD(df.to_numpy(),threshold,num_cluster)

In [202]:
df = pd.DataFrame(u@sigma@V_trans,columns=df.columns)

In [203]:
def cluster_to_matrix(X_train,y_train,num_cluster):
    k=Kmeans(K=num_cluster,iter=150,p=2,random_state=42)
    y_pred,_=k.predict(np.array(X_train),choice=0)
    k.centroids=np.array(k.centroids)
    empty_cluster = []
    for idx,i in enumerate(k.clusters):
        if len(i)==0:
            empty_cluster.append(idx)
    X_train2 = pd.concat([X_train,y_train,pd.DataFrame(y_pred,columns=["label"],dtype='int')],axis="columns")
    df_cluster_rep = X_train2.groupby(['label'], as_index=False).mean()
    df_cluster_rep.drop(labels="label",axis="columns",inplace=True)
    matrix = df_cluster_rep.to_numpy()
    final_matrix = []
    j = 0 
    for i in range(num_cluster):
        if i in empty_cluster:
            final_matrix.append(np.zeros(len(df.columns)))
        else:
            final_matrix.append(matrix[j])
            j+=1

    return np.array(final_matrix),k

In [204]:
x_col_size=len(df.columns)-len(Genres)+6

In [205]:
x_col_size

38

In [206]:
y = df[df.columns[x_col_size:]]
x = df.drop(labels=df.columns[x_col_size:],axis="columns")

In [207]:
x

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_17,Occupation_18,Occupation_19,Occupation_20,Documentary,Sci-Fi,Musical,1960s,War,1990s
0,-0.048354,-0.022943,-0.012220,-0.027137,-0.003468,0.963823,0.005922,0.010814,0.016590,-0.054744,...,0.036705,0.062279,0.034754,0.030978,0.165954,0.696129,0.868803,0.905159,1.014649,0.909702
1,1.092951,0.853165,0.007904,-0.023634,-0.031286,-0.035264,-0.056873,-0.000994,0.935383,0.004190,...,-0.036992,0.082200,-0.001299,0.203349,0.211100,0.173995,0.507592,0.602195,0.646985,0.350176
2,1.046967,0.349925,-0.019832,-0.003377,0.016319,-0.040998,0.981337,0.015559,-0.005885,0.000888,...,0.047361,0.066921,0.023539,0.094871,0.610032,0.568446,0.687799,0.832496,0.761894,0.619688
3,1.001251,0.637652,-0.022129,0.966677,0.026640,-0.048982,-0.055902,0.003527,0.010982,-0.071256,...,-0.002843,0.049966,-0.001783,-0.119566,0.495999,0.309821,0.448964,0.613586,0.337105,0.466635
4,0.956384,0.545776,-0.015550,-0.006104,-0.033555,-0.027225,0.973761,-0.007110,-0.011237,0.002009,...,-0.046130,0.061867,0.013379,0.434223,0.568190,0.253910,0.313823,0.565783,0.489238,0.267769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.021157,0.584955,-0.017717,-0.010553,0.973825,-0.031542,-0.016179,0.004204,-0.035654,0.018188,...,0.031561,0.040127,0.017968,0.070764,0.529285,0.133245,0.515296,0.642950,0.416959,0.423842
6036,-0.008032,0.752671,-0.054525,-0.014868,-0.010557,-0.037355,0.017194,-0.010615,1.066191,-0.033096,...,0.016205,-0.017462,-0.004333,-0.068460,0.695457,0.636551,0.737101,0.633267,0.521157,0.547071
6037,0.121668,0.741355,1.013873,0.002798,-0.022179,-0.011567,-0.054090,-0.017670,-0.059064,-0.008439,...,-0.026517,0.038402,0.005298,-0.088049,0.508671,0.322053,0.502239,0.497051,0.660330,0.676705
6038,0.005798,0.701986,0.934570,-0.034304,-0.017737,-0.060541,0.001440,-0.046867,0.005498,-0.018834,...,-0.003893,-0.024894,-0.019942,0.034820,0.410040,0.452447,0.058763,0.468351,0.491780,0.359412
6039,0.995430,0.548801,1.014884,-0.018623,0.010282,-0.004575,-0.045043,0.027724,0.002210,-0.038333,...,0.007317,0.093493,0.023753,0.146026,0.738814,0.193443,0.525454,0.760812,0.644978,0.655706

In [208]:
y

,Western,Horror,1940s,1950s,1920s,Crime,Romance,Fantasy,1970s,Adventure,...,Action,1980s,Animation,Comedy,Thriller,Mystery,1910s,Children's,Film-Noir,Drama
0,0.375210,0.423851,0.590736,0.690643,0.890621,0.684450,0.716620,0.736614,0.958341,0.775772,...,0.693012,0.916665,0.719372,0.777155,0.736719,0.296033,0.392799,0.686938,0.380382,0.664460
1,0.704885,0.044135,0.623003,0.567012,0.557932,0.305885,0.273063,0.151558,0.416144,0.304091,...,0.210480,0.319740,0.299284,0.261846,0.300870,0.273935,0.460889,0.263574,0.326925,0.279114
2,1.051174,0.006751,0.606127,0.722313,0.702570,0.552984,0.536409,0.929722,0.827358,0.683834,...,0.546780,0.702108,0.618556,0.591845,0.467237,0.342232,0.206285,0.714014,0.526042,0.565186
3,0.791111,0.473932,0.360747,0.541218,0.726720,0.554212,0.265096,0.595551,0.598698,0.342638,...,0.291618,0.428104,0.231474,0.372214,0.481708,0.525681,0.469649,0.305707,0.514396,0.344251
4,0.634061,0.095633,0.741596,0.643297,0.662217,0.219034,0.201784,0.444126,0.426387,0.310919,...,0.171888,0.322388,0.687082,0.281210,0.246927,0.436886,0.164549,0.613079,0.747210,0.285260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.480817,0.152830,0.607901,0.667258,0.847115,0.441860,0.336718,0.309851,0.576142,0.193585,...,0.137259,0.390254,0.509819,0.382728,0.338929,0.373780,0.955658,0.425757,0.662582,0.369045
6036,0.552907,0.790500,0.535700,0.665017,0.264216,0.580737,0.623287,0.870711,0.736724,0.687606,...,0.623781,0.669004,0.564346,0.625727,0.586938,0.598593,0.651496,0.738393,0.390728,0.642971
6037,0.607920,-0.034689,0.511731,0.481429,0.772233,0.635127,0.551558,0.409810,0.398630,0.437992,...,0.401943,0.475334,0.368043,0.531116,0.598219,0.585035,0.806857,0.375434,0.444151,0.504962
6038,0.926413,0.522374,0.645079,0.563883,0.242273,0.569449,0.430078,0.272901,0.312763,0.405388,...,0.478392,0.328650,0.018110,0.339457,0.603556,0.856400,0.169304,0.104513,0.695477,0.498644
6039,0.648864,-0.124218,0.677550,0.678307,0.921266,0.621646,0.309127,0.302018,0.480658,0.279644,...,0.178523,0.421980,0.418567,0.419113,0.566402,0.689291,0.248897,0.318401,0.711308,0.367238

In [209]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05, shuffle=True, random_state=42)

In [210]:
matrix,kmeans_model = cluster_to_matrix(x_train,y_train,num_cluster)

In [211]:
matrix.shape

(32, 60)

In [212]:
def predict(datapoint,kmeans,matrix_clean):
    y_pred = kmeans.predictPoint(datapoint)
    inferred_full = matrix_clean[y_pred]
    inferred = inferred_full[x_col_size:]
    inferred_full = inferred_full[len(df.columns)-len(Genres):]
    sorted_ratings = []
    sorted_ratings_full = []
    for idx,element in enumerate(inferred):
        sorted_ratings.append([element,idx+x_col_size])
    for idx,element in enumerate(inferred_full):
        sorted_ratings_full.append([element,idx+len(df.columns)-len(Genres)])
    sorted_ratings.sort()
    sorted_ratings.reverse()
    sorted_ratings_full.sort()
    sorted_ratings_full.reverse()
    return sorted_ratings, sorted_ratings_full

In [213]:
x_test.to_numpy()[0][:x_col_size]
sorted_ratings, sorted_ratings_full = predict(x_test.to_numpy()[0][:x_col_size],kmeans_model,matrix)
s="Top 5 PREDICTED recommended genres are:\n"
for i in range(5):
    s+=df.columns[sorted_ratings_full[i][1]]+"\n"
print(s)

Top 5 PREDICTED recommended genres are:
1930s
1920s
1960s
War
1950s

In [214]:
sorted_ratings_actual=[]
inferred = y_test.to_numpy()[0]
for idx,element in enumerate(inferred):
    sorted_ratings_actual.append([element,idx+x_col_size])
sorted_ratings_actual.sort()
sorted_ratings_actual.reverse()
s="Top 5 ACTUAL recommended genres are:\n"
for i in range(5):
    s+=df.columns[sorted_ratings_actual[i][1]]+"\n"
print(s)

Top 5 ACTUAL recommended genres are:
1930s
2000s
1950s
1920s
1940s

In [215]:
rating_dict={}
for i in range(len(sorted_ratings_full)):
    rating_dict[df.columns[sorted_ratings_full[i][1]]]=sorted_ratings_full[i][0]
rating_dict

{'1930s': 0.796846396160231,
 '1920s': 0.7225571831376146,
 '1960s': 0.7194563547107338,
 'War': 0.6976397284661884,
 '1950s': 0.6728975129221862,
 '1990s': 0.6637363919912467,
 'Film-Noir': 0.6592115556273527,
 '1940s': 0.6520854884633643,
 'Mystery': 0.6383159988210685,
 'Thriller': 0.6358008884377567,
 '1970s': 0.6237765792539013,
 'Crime': 0.6211043343990995,
 '1980s': 0.5838310871905722,
 'Documentary': 0.580722513840842,
 'Musical': 0.5734733691073672,
 'Western': 0.5532337771133783,
 'Comedy': 0.5453351064465403,
 'Animation': 0.5420968853480856,
 'Fantasy': 0.5329835003394465,
 'Drama': 0.5158767471111004,
 '2000s': 0.5135707379234948,
 'Adventure': 0.5047508652969765,
 "Children's": 0.48721565569572023,
 'Romance': 0.48079745903295196,
 'Sci-Fi': 0.44653655276574755,
 'Action': 0.43412834675829126,
 'Horror': 0.35402278568289025,
 '1910s': 0.32956771797030326}

In [216]:
def predict_for_dataset(X_test,kmeans_instance,matrix_clean):
    X_test = X_test.to_numpy()
    y_pred = []
    for i in range(X_test.shape[0]):
        datapoint = X_test[i]
        y_pred.append(predict(datapoint,kmeans_instance,matrix_clean)[0])
    return np.array(y_pred)

In [217]:
x_test

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_17,Occupation_18,Occupation_19,Occupation_20,Documentary,Sci-Fi,Musical,1960s,War,1990s
5529,-0.000062,0.180986,-0.035656,-0.038915,0.037498,-0.075236,-0.025390,0.977236,0.021699,-0.036640,...,-0.020231,0.024382,0.005056,-0.071726,0.958713,0.110014,0.475459,0.612135,0.444286,0.374064
710,1.032879,0.505741,0.037725,-0.003974,-0.005037,-0.007389,-0.016374,0.030524,-0.046738,0.973459,...,0.068602,0.105648,0.011476,0.144999,0.407869,0.496909,0.828467,0.954387,0.814107,0.739453
4923,0.081085,0.397618,-0.029700,-0.027539,-0.005148,-0.045242,-0.074239,-0.005989,-0.039904,-0.022229,...,0.000351,0.022559,0.000195,-0.035292,0.944468,0.268294,0.507855,0.531331,0.566167,0.560017
2153,1.019099,0.375349,-0.003873,-0.031223,0.060350,-0.036994,0.001792,0.992893,-0.004091,-0.074065,...,0.006402,0.093526,0.022800,-0.027666,0.728963,0.626668,0.648217,0.668403,0.740226,0.768923
1272,1.070148,0.523888,1.042968,-0.003356,0.043880,-0.015516,-0.024154,0.002240,-0.077899,-0.000536,...,-0.012651,0.081262,0.030243,0.282407,0.625084,0.524476,0.645191,0.829912,0.727521,0.731739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,-0.007276,0.482777,0.009333,-0.035994,-0.012462,0.005197,-0.073542,0.004568,-0.046830,-0.104522,...,0.043185,0.035387,0.009339,0.038535,0.651367,0.250643,0.181280,0.440215,0.462492,0.469927
4648,1.023184,0.899912,0.990475,-0.014491,0.066332,-0.044998,-0.001757,-0.015621,-0.009671,0.024967,...,0.051827,0.080009,-0.001361,0.025936,0.184907,0.502082,0.945759,0.958061,1.299839,0.719690
323,0.951846,0.703672,0.014598,-0.019387,-0.017825,-0.031621,0.994690,0.010761,0.007676,0.006936,...,1.000972,0.072219,0.004283,-0.048471,0.708222,0.532518,0.388063,0.643964,0.463587,0.545997
2943,0.046983,0.236391,-0.016689,-0.026047,0.002600,0.956221,-0.014701,-0.002365,-0.030238,0.008645,...,-0.016540,0.016291,-0.006176,0.010864,0.471646,0.488299,0.803457,0.749437,0.854272,0.666080
4366,1.009118,0.636976,0.004609,-0.018013,-0.023760,-0.005267,0.989782,0.006639,0.008122,0.000346,...,0.003869,0.053896,0.003422,-0.076576,0.547181,0.371173,0.721564,0.529176,0.767957,0.523564

In [218]:
y_pred = predict_for_dataset(x_test,kmeans_model,matrix)

In [219]:
y_pred=np.array(y_pred)
y_test=np.array(y_test)

In [220]:
y_test.shape

(302, 22)

In [221]:
y_pred_arr=[]
for i in y_pred:
    temp=[0 for _ in range(y_test.shape[1])]
    for j in i:
        temp[int(j[1]-x_col_size)]=j[0]
    y_pred_arr.append(temp)
y_pred_arr=np.array(y_pred_arr)
y_pred_arr.shape

(302, 22)

In [222]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred_arr)

0.04051528517801981

In [223]:
ratings=pd.read_csv('ratings.dat', delimiter='::', names=['UserID','MovieID','Rating','TimeStamp'])
movies=pd.read_csv('movies.dat', delimiter='::', names=["Title","Genres"],  encoding="ISO-8859-1")

/tmp/ipykernel_6101/217725616.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings=pd.read_csv('ratings.dat', delimiter='::', names=['UserID','MovieID','Rating','TimeStamp'])
/tmp/ipykernel_6101/217725616.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies=pd.read_csv('movies.dat', delimiter='::', names=["Title","Genres"],  encoding="ISO-8859-1")

In [224]:
# movies
ratings.drop(['UserID','TimeStamp'], axis=1, inplace= True)

In [225]:
ratings

         MovieID  Rating
0           1193       5
1            661       3
2            914       3
3           3408       4
4           2355       5
...          ...     ...
1000204     1091       1
1000205     1094       5
1000206      562       5
1000207     1096       4
1000208     1097       4

[1000209 rows x 2 columns]

In [226]:
movies['Rating']=[[] for _ in range(len(movies.index))]
for i in ratings.index:
    temp=ratings.iloc[i]['Rating']
    movies.at[ratings.iloc[i]['MovieID'],'Rating'].append(temp)

In [227]:
movies['Rating']=movies['Rating'].apply(lambda x: np.array(x).mean())

/tmp/ipykernel_6101/1822539475.py:1: RuntimeWarning: Mean of empty slice.
  movies['Rating']=movies['Rating'].apply(lambda x: np.array(x).mean())

In [228]:
movies.isna().sum()

Title       0
Genres      0
Rating    177
dtype: int64

In [229]:
movies['Genres']=movies['Genres'].apply(lambda x: x.split('|'))
for i in movies.index:
    title=movies.at[i,'Title']
    decade=title[-5:-2]
    decade=str(decade)+'0s'
    movies.at[i,'Genres'].append(decade)

In [230]:
movies

,Title,Genres,Rating
1,Toy Story (1995),"[Animation, Children's, Comedy, 1990s]",4.146846
2,Jumanji (1995),"[Adventure, Children's, Fantasy, 1990s]",3.201141
3,Grumpier Old Men (1995),"[Comedy, Romance, 1990s]",3.016736
4,Waiting to Exhale (1995),"[Comedy, Drama, 1990s]",2.729412
5,Father of the Bride Part II (1995),"[Comedy, 1990s]",3.006757
...,...,...,...
3948,Meet the Parents (2000),"[Comedy, 2000s]",3.635731
3949,Requiem for a Dream (2000),"[Drama, 2000s]",4.115132
3950,Tigerland (2000),"[Drama, 2000s]",3.666667
3951,Two Family House (2000),"[Drama, 2000s]",3.900000
3952,"Contender, The (2000)","[Drama, Thriller, 2000s]",3.780928

In [231]:
movies['Affinity']=[0 for _ in range(len(movies.index))]
for i in movies.index:
    genres=movies.at[i,'Genres']
    affinity=0
    for j in genres:
        affinity+=rating_dict[j]*movies.at[i,'Rating']
    movies.at[i,'Affinity']=affinity

In [232]:
movies.sort_values('Affinity',inplace=True,ascending=False)

In [233]:
movies

,Title,Genres,Rating,Affinity
1196,Star Wars: Episode V - The Empire Strikes Back...,"[Action, Adventure, Drama, Sci-Fi, War, 1980s]",4.292977,13.663528
1617,L.A. Confidential (1997),"[Crime, Film-Noir, Mystery, Thriller, 1990s]",4.219406,13.578761
1264,Diva (1981),"[Action, Drama, Mystery, Romance, Thriller, 19...",4.054475,13.334156
2208,"Lady Vanishes, The (1938)","[Comedy, Mystery, Romance, Thriller, 1930s]",4.185930,12.964225
1205,"Transformers: The Movie, The (1986)","[Action, Animation, Children's, Sci-Fi, Thrill...",3.380952,12.939747
...,...,...,...,...
3650,Anguish (Angustia) (1986),"[Horror, 1980s]",NaN,NaN
3750,Boricua's Bond (2000),"[Drama, 2000s]",NaN,NaN
3829,Mad About Mambo (2000),"[Comedy, Romance, 2000s]",NaN,NaN
3856,Autumn Heart (1999),"[Drama, 1990s]",NaN,NaN
3907,"Prince of Central Park, The (1999)","[Drama, 1990s]",NaN,NaN

In [234]:
top_movies=list(movies['Title'])[:5]
print("Top 5 movies are:")
for i in top_movies:
    print(i)

Top 5 movies are:
Star Wars: Episode V - The Empire Strikes Back (1980)
L.A. Confidential (1997)
Diva (1981)
Lady Vanishes, The (1938)
Transformers: The Movie, The (1986)